body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.cell {
    color: #2b61d4;
    background-color: white;
    font-size: 0.8em;
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;

    display: inline-flex;
    justify-content: center;
}

.ui_interactions {
    width: 25%;
    height: 100vh;
    background-color: cornflowerblue;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: cornflowerblue;

    display: flex;
    justify-content: center;
}

.header > h1 {
    color: black;
    font-size: 2em;
    font-family: "JetBrains Mono", monospace;
}

.settings_config {
    width: 100%;
    background-color: cornflowerblue;

    display: flex;
    justify-content: center;
}

.settings_config > button {
    color: black;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2b61d4;

    position: relative;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius:30px;
}

.array_container {
    width: 70%;
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: row;
}

.links {
    width: 15%;
    height: 100vh;
    background-color: cornflowerblue;

    display: flex;
    flex-direction: column;
}